div{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    
}

#div1{
    padding: 20px;
    background-color:cadetblue ;
}

#div2{
    margin-left: 260px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    background-color: yellow;
}

#div3{
    margin-left: 40px;
    background-color:lightcoral;
}

